NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=


NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SUPPORT_MAIL=
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_IS_LIVE=false
BLOCKFROST_PROJECT_ID=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=


RESEND_API_KEY=
RESEND_TO_EMAIL=
RESEND_FROM_EMAIL=


APP_WALLET_MNEMONIC=